@mixin vh-percentage($image-height, $top-offset) {
	$vh-value: 100vh / $image-height * $top-offset;
	top: $vh-value;
}

@mixin vw-percentage($image-width, $left-offset) {
	$vw-value: 100vw / $image-width * $left-offset;
	left: $vw-value;
}

@mixin dynamic-viewport-offset-left($base-left, $displacement-force-coefficient, $smoothness-coefficient) {
	$diff: calc(100vh - (100vw * $displacement-force-coefficient));
	$offset: calc($diff * $smoothness-coefficient);
	left: calc(#{$base-left} - #{$offset});
}

@mixin dynamic-viewport-offset-top($base-left, $displacement-force-coefficient, $smoothness-coefficient) {
	$diff: calc(100vw - (100vh * $displacement-force-coefficient));
	$offset: calc($diff * $smoothness-coefficient);
	top: calc(#{$base-left} - #{$offset});
}
