:root {
	/* Fonts */

	--arial: Arial, Helvetica, sans-serif;

	/* Colors */
	--black: #000000;
	--yellow: #ffd525;

	--blue-color: #95bfe0;
	--purple-color: #7551ff;
	--blue-medium-color: #4299e1;
	--search-background: #0f1535;
	--white-color: #ffffff;
	--grey-ultra-light: #f3f3f3;
	--grey-light: #e8e8e8;
	--background-dark-blue: #060b26;
}
